@mixin style($space) {
    color:$color;
    text-transform: capitalize;
    letter-spacing: ($space);
    line-height: 80px;
    &:hover{
        color: black;
        text-shadow: 0px 0px 6px yellow;
    }
    &:first-letter{
        color:chartreuse;
    }
}